body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: bisque;
}

header {
  text-decoration: none;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-top: 50px;
}

#recent-scores-header {
  display: flex;
  gap: 15px;
}

#recent-scores-button {
  height: 25px;
  width: 80px;
  margin-top: 20px;
  box-shadow: 3px 3px #000;
}

#scores-table {
  border: 2px solid rgb(101, 100, 100);
}

#scores-table ul li {
  list-style: none;
  padding: 5px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

::placeholder {
  font-style: italic;
}

#submit {
  display: inline-block;
  position: relative;
  text-align: right;
  width: fit-content;
  left: 70.1%;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 3px 3px #000;
}
